#hr-email-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.hr-email-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    position: relative;
}

.hr-email-modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.hr-email-modal-close:hover,
.hr-email-modal-close:focus {
    color: black;
}

.hr-email-modal {

}
.hr-email-modal__row {
    margin: 0 0 20px;
}
.hr-email-modal__label {
    display: block;
    margin: 0 0 5px;
}
.hr-email-modal__input {
    box-sizing: border-box;
    width: 100%;
}
.hr-offer-button {
    display: inline-flex !important;
    align-items: center;
    gap: 8px;
}